.mealssummary {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  padding: 3rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 60%;
  margin: auto;
  margin-top: -10rem;
  position: relative;
  background-color: white;
}

.summary {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.summary h2 {
  font-size: 2rem;
  margin-top: 0;
  color: #646D9C;
}

.summary p {
  color: #646d9ca9;
}

.mealssummary img {
  width: 100%;
}
